@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #ff4921;
}

@supports (color: color(display-p3 1 1 1)) {
  :root {
    --color-primary: color(display-p3 1 0.356 0.2183);
  }
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-primary-light: #f56900;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-familjen-grotesk);
  --font-mono: var(--font-martian-mono);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: var(--background);
  color: var(--foreground);
}

::selection {
  background-color: var(--color-primary);
}

input {
  font-size: 16px;
}

.pin {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.375));
}

[data-appearance="dark"] .action-button {
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

[data-appearance="light"] .action-button {
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}

.action-button {
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  position: relative;
}

.mapboxgl-ctrl-group::before,
.main-card:before,
.action-button:before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  box-sizing: border-box;
  pointer-events: none;
}

.mapboxgl-ctrl-group::before,
[data-appearance="light"] .main-card:before,
[data-appearance="light"] .action-button:before {
  background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0)) border-box;
  mask:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(#fff, #fff);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

[data-appearance="dark"] .main-card:before,
[data-appearance="dark"] .action-button:before {
  background: linear-gradient(0deg, transparent 10%, hsla(0, 0%, 100%, 0.07))
    border-box;
  mask:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(#fff, #fff);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

/*
@media (prefers-color-scheme: dark) {
  .action-button {
    background-color: hsla(0, 0%, 100%, 0.02);
  }
}
*/

[data-appearance="dark"] .action-button {
  background-color: hsla(0, 0%, 100%, 0.02);
}

.mapboxgl-ctrl-group {
  transition: background-color 0.2s ease;
  background-color: hsla(0, 0%, 100%, 0.75) !important;
  backdrop-filter: saturate(150%) blur(8px);
  border-radius: 8px !important;
  position: relative;
}
[data-appearance="light"] .action-button {
  transition: background-color 0.2s ease;
  background-color: hsla(0, 0%, 100%, 0.5);
}

.mapboxgl-ctrl-group:is(:focus-within, :active, :hover) {
  background-color: hsla(0, 0%, 100%, 0.75);
}
[data-appearance="light"] .action-button:focus-within,
[data-appearance="light"] .action-button:active,
[data-appearance="light"] .action-button:hover {
  background-color: hsla(0, 0%, 100%, 0.75);
}

.main-card {
  box-shadow: 0 11px 34px rgba(0, 0, 0, 0.2);
  background-color: #fbfbfd;
}

.floating-image {
  position: fixed;
  inset-block-end: 20px;
  inset-inline-end: 20px;
  box-shadow: 0 11px 34px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

/* @media (prefers-color-scheme: dark) {
  .main-card {
    box-shadow: 0 11px 34px rgba(0, 0, 0, 0.5);
  }
} */

[data-appearance="dark"] .main-card {
  background-color: #292c31df;
  box-shadow: 0 11px 34px rgba(0, 0, 0, 0.5);
}

[data-appearance="light"] .main-card {
  background-color: #fbfbfddf;
  box-shadow: 0 11px 34px rgba(0, 0, 0, 0.2);
  color: #171717;
}

/* @media (prefers-color-scheme: dark) {
  .main-card {
    background-color: #292c31;
  }
} */

@supports (interpolate-size: allow-keywords) {
  :root {
    interpolate-size: allow-keywords;
  }

  details {
    &::details-content {
      opacity: 0;
      block-size: 0;
      overflow-y: clip;
      transition:
        content-visibility 0.125s allow-discrete,
        opacity 0.125s,
        block-size 0.125s;
    }

    &[open]::details-content {
      opacity: 1;
      block-size: auto;
    }
  }

  summary::-webkit-details-marker {
    display: none;
  }
}

.text-trim-both {
  text-box: trim-both cap alphabetic;
}
